<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeeSmarter - Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  </head>

  <script>
    var socket=io();

  </script>



  <body>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BeeSmarter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/results"><%= username %></a></li>
            <li><a href="/designer">Designer</a></li>
            <li><a href="/sensor">Sensor</a></li>
      			<li class="active"><a href="/admin">Admin</a></li>
      			<li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="container">
	<div>
    <br>
    <br>
    <br>
      <h3 class="sub-header">Designers</h3>
    		  <form class="form-inline" role="form" action="/startDesignerAuction" method="post">
            <br>
      			<br>
      			<div class="form-group">
              <input type="text" placeholder="Max Value" class="form-control" name="maxValue">
            </div>
      			<br>
            <div class="form-group">
              <input type="text" placeholder="Min Value" class="form-control" name="minValue">
            </div>
      			<br>
            <div class="form-group">
              <input type="text" placeholder="Step time(seconds)" class="form-control" name="stepTime">
            </div>
            <br>
            <div id="designerWrapper">
            <% if (designers) { %>
            <span>
              <% designers.forEach(function(designer){ var quoteName='"'+designer.name+'"';%>
                <div class="radio">
                  <label><%= designer.name %> <input type="radio" name="optradio" value=<%- quoteName %>></label>
                </div>
                <br>
              <% }); %>
            </span>
            <% } %>
            </div>
    		   <button type="submit" class="btn btn-success">Start Designer Auction</button>
          </form>

		 <h3 class="sub-header">Sensors</h3>
          <form class="form-inline" role="form" action="/startSensorAuction" method="post">
            <br>
            <br>
            <div class="form-group">
              <input type="text" placeholder="Max Value" class="form-control" name="maxValue">
            </div>
            <br>
            <div class="form-group">
              <input type="text" placeholder="Min Value" class="form-control" name="minValue">
            </div>
            <br>
            <div class="form-group">
              <input type="text" placeholder="Step time(seconds)" class="form-control" name="stepTime">
            </div>
            <br>
            <div id="sensorWrapper">
            <% if (sensors) { %>
            <span>
              <% sensors.forEach(function(sensor){ var quoteName='"'+sensor.name+'"';%>
                <div class="radio">
                  <label><%= sensor.name %> <input type="radio" name="optradio" value=<%- quoteName %>></label>
                </div>
                <br>
              <% }); %>
            </span>
            <% } %>
            </div>
           <button type="submit" class="btn btn-success">Start Sensor Auction</button>
          </form>



	</div>
    </div> <!-- /container -->
  </body>
</html>
