<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BeeSmarter - Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.3.3.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/beesmarter.css">
  </head>

  <script>
  var socket = io();
  socket.on('priorityListRoundFinished', function() {
    $('#messages').html("All the priority lists have been added, you can start the Designer auctions after refresh!");
    document.getElementById("startDesignerAuctionBTN").disabled = false;
    socket.removeAllListeners('priorityListRoundFinished');
  });
  socket.on('BIDsuccess', function(data) {
    $('#messages').html(data.msg + " You can start the next Designer auctions after refresh!");
    socket.removeAllListeners('BIDsuccess');
  });
  socket.on('BIDSensorsuccess', function(data) {
    $('#messages').html(data.msg);
    socket.removeAllListeners('BIDSensorsuccess');
  });

  function validateNumberInput(event) {
    var charCode = event.charCode;
    return (charCode >= 48 && charCode <= 57) || charCode === 0;
  }

  function validateDoubleInput(event) {
    var charCode = event.charCode;
    return (charCode >= 48 && charCode <= 57) || charCode === 0 || charCode === 46;
  }

  function validateForm() {
    var sensorBidForm = document.forms.sensorBidForm;

    if (parseInt(sensorBidForm[0].value) <= parseInt(sensorBidForm[1].value)) {
      alert("The maximum value has to be bigger, than the minimum value!");
      return false;
    }
  }

  </script>

  <body class= "allbgcolor">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -40px"
          src="/images/beesmarter.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/results"><%= username %></a></li>
            <li><a href="/designer">Designer</a></li>
            <li><a href="/sensor">Sensor</a></li>
            <li class="active"><a href="/admin">Admin</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      <div class="jumbotron other-color">
        <div class="container">
          <h1>Messages</h1>
          <div id="messages">&nbsp</div>
        </div>
      </div>
      <div id="wrap" class="container">
        <div class="row row-centered keret">
          <div class="row row-centered">
            <div class="col-xs-6 col-centered col-max">
              <h3 class="sub-header other-color">Designers</h3>
              <% if (designer) { %>
              <% var designerQuoteName='"'+designer+'"';%>
              <% var teamQuoteName='"'+team+'"';%>
              <form class="form-inline" role="form" action="/startDesignerAuction" method="post">
              <table style="width:100%">
              <tr><td>Designer:</td><td><div class="form-group"><input type="text" readonly class="form-control" name="designer"  value=<%- designerQuoteName %>></div></td>
              </tr>
              <tr><td>Max Value:</td><td><div class="form-group"><input type="text"  readonly class="form-control" name="maxValue" value=<%- maxValue %>>
                </div></td>
              </tr>
              <tr><td>Min Value:</td><td><div class="form-group"><input type="text"  readonly class="form-control" name="minValue" value=<%- minValue %>>
                </div></td>
              </tr>
              <tr><td>Priority list bid leader:</td><td><div class="form-group"><input type="text" readonly class="form-control" name="bidLeader" value=<%- teamQuoteName %>>
                </div></td>
              </tr>
              <tr><td>Steptime(in seconds):</td><td><div class="form-group"><input type="number" min="0.1" step="0.1"  onkeypress="return validateDoubleInput(event)" placeholder="Step time(seconds)" class="form-control" name="stepTime" required>
                </div></td>
              </tr>
              </table>
                <button id= "startDesignerAuctionBTN" type="submit" class="btn btn-success">Start Designer Auction</button>
                <% } else {%>
                <div id="priorityListStatus"> <%= priorityListStatus %></div>
                <% } %>
              </form>
            </div>


            <div class="col-xs-6 col-centered col-max">
              <h3 class="sub-header other-color">Sensors</h3>
              <form class="form-inline" name="sensorBidForm" role="form" action="/startSensorAuction" method="post" onsubmit="return validateForm()">
                <table style="width:100%">
                  <tr>
                    <td>Max Value:</td><td><div class="form-group"><input type="number" min="0" max="1000" onkeypress="return validateNumberInput(event)" placeholder="Max Value" class="form-control" name="maxValue" required></div></td>
                  </tr>
                  <tr>
                    <td>Min Value:</td><td><div class="form-group"><input type="number" min="0" max="1000" onkeypress="return validateNumberInput(event)" placeholder="Min Value" class="form-control" name="minValue" required></div></td>
                  </tr>
                </tr>
                <tr>
                  <td>Step time(seconds):</td><td><div class="form-group"><input type="number" min= "0.1" step="0.1" onkeypress="return validateDoubleInput(event)" placeholder="Step time(seconds)" class="form-control" name="stepTime" required></div></td>
                </tr>
              </table>
              <div id="sensorWrapper">
                <% if (sensors) { %>
                <span>
                <% sensors.forEach(function(sensor){ var quoteName='"'+sensor.name+'"';%>
                <div class="radio">
                  <label><%= sensor.name %> <input type="radio" name="optradio" value=<%- quoteName %> required></label>
                </div>
                <br>
                <% }); %>
                </span>
                <% } %>
              </div>
              <button type="submit" class="btn btn-success">Start Sensor Auction</button>
            </form>
          </div>
        </div>

        <div class="row row-centered">
          <div class="col-xs-6 col-centered col-max">
              <h3 class="sub-header other-color">Team votes</h3>
              <form class="form-inline" role="form" action="/teamVote" method="post">
                <table style="width:100%">
                  <tr>
                    <td>Average vote:</td>
                    <td>
                      <div class="form-group">
                        <input type="number" min="0" max="10" step="0.1" onkeypress="return validateDoubleInput(event)" placeholder="Average vote" class="form-control" name="averageVote" required>
                      </div>
                    </td>
                  </tr>
                </tr>
              </table>
              <div id="teamWrapper">
                <span>
                <% teams.forEach(function(team){ var quoteName='"'+team.TeamFullName+'"';%>
                <div class="radio">
                  <label><%= team.TeamFullName %>
                    <input type="radio" name="optradio" value=<%- quoteName %> required>
                  </label>
                </div>
                <br>
                <% }); %>
                </span>
              </div>
              <button type="submit" class="btn btn-success">Submit team vote</button>
            </form>
          </div>

          <div class="col-xs-6 col-centered col-max">
              <h3 class="sub-header other-color">Designer votes</h3>
              <form class="form-inline" role="form" action="/designerVote" method="post">
                <table style="width:100%">
                  <tr>
                    <td>Average vote:</td>
                    <td>
                      <div class="form-group">
                        <input type="number" min="0" max="10" step="0.1" onkeypress="return validateDoubleInput(event)" placeholder="Average vote" class="form-control" name="averageVote" required>
                      </div>
                    </td>
                  </tr>
                </tr>
              </table>
              <div id="designerWrapper">
                <span>
                <% designers.forEach(function(designer){ var quoteName='"'+designer.name+'"';%>
                <div class="radio">
                  <label><%= designer.name %>
                    <input type="radio" name="optradio" value=<%- quoteName %> required>
                  </label>
                </div>
                <br>
                <% }); %>
                </span>
              </div>
              <button type="submit" class="btn btn-success">Submit designer vote</button>
            </form>
          </div>

          <div class="col-xs-6 col-centered col-max">
              <h3 class="sub-header other-color">Application votes</h3>
              <form class="form-inline" role="form" action="/applicationVote" method="post">
                <table style="width:100%">
                  <tr>
                    <td>Average vote:</td>
                    <td>
                      <div class="form-group">
                        <input type="number" min="0" max="10" step="0.1" onkeypress="return validateDoubleInput(event)" placeholder="Average vote" class="form-control" name="averageVote" required>
                      </div>
                    </td>
                  </tr>
                </tr>
              </table>
              <div id="teamWrapper">
                <span>
                <% teams.forEach(function(team){ var quoteName='"'+team.TeamFullName+'"';%>
                <div class="radio">
                  <label><%= team.TeamFullName %>
                    <input type="radio" name="optradio" value=<%- quoteName %> required>
                  </label>
                </div>
                <br>
                <% }); %>
                </span>
              </div>
              <button type="submit" class="btn btn-success">Submit application vote</button>
            </form>
          </div>


        </div>


        <div class="row row-centered">
          <div class="col-xs-6 col-centered col-max">
            <h3 class="sub-header other-color">START Upload</h3>
            <form class="form-inline" role="form" action="/startUpload" method="post">
              <button type="submit" id="startUploadButton" class="btn btn-success"<% if (canUpload) { %> disabled <% } %> >START Upload</button>
            </form>
          </div>
          <div class="col-xs-6 col-centered col-max">
            <h3 class="sub-header other-color">STOP Upload</h3>
            <form class="form-inline" role="form" action="/stopUpload" method="post">
              <button type="submit" id="stopUploadButton"class="btn btn-danger" <% if (!canUpload) { %> disabled <% } %>>STOP Upload</button>
            </form>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-xs-6 col-centered col-max">
            <h3 class="sub-header other-color">RESET</h3>
            <form class="form-inline" role="form" action="/reset" method="post">
              <button type="submit" class="btn btn-danger">RESET</button>
            </form>
          </div>
          <div class="col-xs-6 col-centered col-max">
            <h3 class="sub-header other-color">Uploaded by</h3>
            <p id="completedUploads"></p>
            <% if(completedUploads){%>
              <% if(Object.keys(completedUploads).length === teamCount){%>
                <p class="other-color-success"><b>Everyone completed the upload!</b></p>
              <%} else {%>
                <b><%=Object.keys(completedUploads)%></b>&nbsp<a href="ftp://ftp.25.hu" target="_blank">See here</a>
              <%} %>
            <%} %>
            <form class="form-inline" role="form" action="/clearList" method="post">
              <button type="submit" class="btn btn-danger btn-xs">Clear</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br><br>
  <br>
	  <!-- Site footer -->
		<footer class="footer">
			<div class="container">
			<div class="row row-centered">
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Főtámogató</h3>
					 <img src="images/sap_logo.png" width="100">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Aranyfokozatú támogatók</h3>
					<img src="images/logo_ericsson.png" width="80"><br><br>
					<img src="images/logo_epam.png" width="80">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Ezüstfokozatú támogatók</h3>
					<p><img src="images/logo_misys.png" width="100"></p>
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Partnerek</h3>
					<img src="images/logo_netlife.png" width="90"><br><br>
					<img src="images/logo_vrtech_black.png" width="50"><br><br>
					<img src="images/logo_pcworld_black.png" width="80">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Szervezők</h3>
					<img src="images/ITK_logo.svg" height="60" alt="PPKE-ITK">&nbsp <img src="images/logo_mome.png" width="80" alt="MOME"><br><br>
					<img src="images/logo_mave.png" width="60" alt="MAVE"><br><br>
					<img src="images/logo_eestec.png" width="60" alt="EESTEC LC Budapest">
				</div>
			</div>
			</div>
		</footer>
</body>
</html>