<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BeeSmarter - Index</title>
    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.3.3.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/beesmarter.css">
  </head>

  <script>
    function validateNumberInput(event) {
      return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0;
    }

    function validateForm() {
      var priorityListForm = document.forms.priorityListForm;
      var inputs = [];

      for(var i = 0; i < priorityListForm.length - 1; i++) {
        inputs.push(parseInt(priorityListForm[i].value));
      }

      inputs = inputs.sort(function(a, b){
        return a-b;
      });

      for (var j = 0; j < inputs.length - 1; j++) {
        //Check for duplicates
        if (inputs[j]%5 !== 0) {
          alert("The values have to be divisible with 5");
          return false;
        }
        //Check if difference in values is > 10
        if (inputs[j + 1] - inputs[j] < 5) {
          alert("The difference between the values has to be >= 5");
          return false;
        }
      }
    }
  </script>

  <body class= "allbgcolor">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -40px"
          src="/images/beesmarter.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a id="username" href="/results"><%= username %></a></li>
            <li class="active"><a href="/designer">Designer</a></li>
            <li><a href="/sensor">Sensor</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      <br>
      <br>
      <br>
      <h3>Priority list:</h3>
      <div id="prioritylist"></div>
      <% if (designers) { %>
      <form class="form-inline" name="priorityListForm" onsubmit="return validateForm()" role="form" action="/priorityList" method="post">
        <br>
        <br>
        <% designers.forEach(function(designer){ var quoteName='"'+designer.name+'"';%>
        <div class="form-group">
          <label><%= designer.name %> <input type="number" min="10" max="1000" step="5" onkeypress="return validateNumberInput(event)" class="form-control" name=<%- quoteName %> required></label>
        </div>
        <br>
        <% }); %>
        <button type="submit" class="btn btn-success">Submit priority list</button>
      </form>
      <% } %>

      <footer class="footer">
        <center>
        <img src="images/sap_logo.png" width="50">
        <img src="images/logo_epam.png" width="50">
        <img src="images/logo_ericsson.png" width="50">
        <img src="images/logo_misys.png" width="50">
        <img src="images/logo_netlife.png" width="50">
        <img src="images/logo_vrtech_black.png" width="50">
        <img src="images/logo_pcworld_black.png" width="50">
        <img src="images/ITK_logo.svg" height="50" alt="PPKE-ITK">
        <img src="images/logo_mome.png" width="50" alt="MOME">
        <img src="images/logo_mave.png" width="50" alt="MAVE">
        <img src="images/logo_eestec.png" width="50" alt="EESTEC LC Budapest">
        </center>
      </footer>
    </body>
  </html>