<!DOCTYPE html>
<html lang="en">
<head>
  <% include ejs/head %>
</head>

<script>
  function validateNumberInput(event) {
    return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0;
  }

  function validateForm() {
    var priorityListForm = document.forms.priorityListForm;

    var uniqueValues = true;
    for (var j = 0; j < priorityListForm.length - 1; j++) {
        //Check for duplicates
        if (priorityListForm[j + 1].value === priorityListForm[j].value) {
          uniqueValues = false;
        }
      }
      if(uniqueValues) {
        $('#submitbtn').attr('disabled',true);
      }
      else {
        alert("The values have to be unique");
        return false;
      }
    }
  </script>

  <body class= "allbgcolor">
    <% include ejs/designerMenu %>
    <div class="jumbotron other-color">
      <div class="container">
        <h1>Priority list</h1>
      </div>
    </div>
    <div id="prioritylist"></div>
    <% if (teams) { %>
    <form class="form-inline" name="priorityListForm" onsubmit="return validateForm()" role="form" action="/priorityList" method="post">
      <br>
      <br>
      <% teams.forEach(function(team){ var quoteName='"'+team.TeamFullName+'"';%>
      <div class="form-group">
        <label><%= team.TeamFullName %> <input type="number" min="5" max="500" step="5" onkeypress="return validateNumberInput(event)" class="form-control" name=<%- quoteName %> required></label>
      </div>
      <br>
      <% }); %>
      <button type="submit" id="submitbtn" class="btn btn-success">Submit priority list</button>
    </form>
    <% } %>
    <div id="wrap" class="container">
    </div>
    <footer class="footer">
     <% include ejs/footer %>
   </footer>
 </body>
 </html>