<!DOCTYPE html>
<html lang="en">

<head>
  <% include ejs/head %>
</head>

<body class= "allbgcolor">
  <% include ejs/designerMenu %>
  <div class="jumbotron other-color">
    <div class="container">
      <h1>You have successfully submitted your priority list</h1>
    </div>
  </div>
  <div id="wrap" class="container">
  </div>

  <footer class="footer">
   <% include ejs/footer %>
 </footer>
</body>

</html>