<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BeeSmarter - Index</title>
    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/beesmarter.css">
  </head>
  <body class= "allbgcolor">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -40px"
          src="/images/beesmarter.png"></a>
        </div>
      </div>
    </nav>
    <div class="jumbotron other-color">
      <div class="container">
        <h2>Error!</h2>
        <p><%= errormsg %></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Back</a></p>
      </div>
    </div>
    <div id="wrap" class="container">
      </div> <!-- /container -->
		<footer class="footer">
			<div class="container">
			<div class="row row-centered">
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Főtámogató</h3>
					 <img src="images/sap_logo.png" width="100">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Aranyfokozatú támogatók</h3>
					<img src="images/logo_ericsson.png" width="80"><br><br>
					<img src="images/logo_epam.png" width="80">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Ezüstfokozatú támogatók</h3>
					<p><img src="images/logo_misys.png" width="100"></p>
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Partnerek</h3>
					<img src="images/logo_netlife.png" width="90"><br><br>
					<img src="images/logo_vrtech_black.png" width="50"><br><br>
					<img src="images/logo_pcworld_black.png" width="80">
				</div>
				<div class="col-md-1 col-centered">
					<h3 class="sub-header">Szervezők</h3>
					<img src="images/ITK_logo.svg" height="60" alt="PPKE-ITK">&nbsp <img src="images/logo_mome.png" width="80" alt="MOME"><br><br>
					<img src="images/logo_mave.png" width="60" alt="MAVE"><br><br>
					<img src="images/logo_eestec.png" width="60" alt="EESTEC LC Budapest">
				</div>
			</div>
			</div>
		</footer>
    </body>
  </html>