<!DOCTYPE html>
<html lang="en">
<head>
  <% include ejs/head %>
</head>
<body class= "allbgcolor">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -40px"
          src="/images/beesmarter.png"></a>
        </div>
      </div>
    </nav>
    <div class="jumbotron other-color">
      <div class="container">
        <h2>Error!</h2>
        <p><%= errormsg %></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Back</a></p>
      </div>
    </div>
    <div id="wrap" class="container">
    </div> <!-- /container -->
    <footer class="footer">
     <% include ejs/footer %>
   </footer>
 </body>
 </html>