<!DOCTYPE html>
<html lang="en">
<head>
  <% include ejs/head %>
</head>

<script>
  function validateNumberInput(event) {
    return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0;
  }

  function validateForm() {
    var priorityListForm = document.forms.priorityListForm;

    var uniqueValues = true;
    for (var j = 0; j < priorityListForm.length - 1; j++) {
        //Check for duplicates
        if (priorityListForm[j + 1].value === priorityListForm[j].value) {
          uniqueValues = false;
        }
      }
      if(uniqueValues) {
        $('#submitbtn').attr('disabled',true);
      }
      else {
        alert("The values have to be unique");
        return false;
      }
    }
  </script>

  <body class= "allbgcolor">

    <!-- Request came from designer-->
    <% if (role === "designer") { %>
      <% include ejs/designerMenu %>
      <!-- Request came from team-->
    <% } else { %>
      <% include ejs/teamMenu %>
    <%} %>

    <div class="jumbotron other-color">
      <div class="container">
        <h1>Priority list</h1>
      </div>
    </div>
    <% include ejs/curve %>


    <div id="wrap" class="container teamresult">
      <div id="prioritylist"></div>
      <% if (teams) { %>
        <div class="prio">
      <form name="priorityListForm" onsubmit="return validateForm()" role="form" action="/priorityList" method="post">
        
        <% teams.forEach(function(team){ var quoteName='"'+team.TeamFullName+'"';%>
        <div class="form-group">
          <label><%= team.TeamFullName %> <input type="number" min="5" max="500" step="5" onkeypress="return validateNumberInput(event)" class="form-control" name=<%- quoteName %> required></label>
        </div>
        
        <% }); %>
        <button type="submit" id="submitbtn" class="btn btn-success largebtn">Submit priority list</button>
      </form>
      </div>
      <% } %>

      <% if (designers) { %>
        <div class="prio">
      <form name="priorityListForm" onsubmit="return validateForm()" role="form" action="/priorityList" method="post">
        
        <% designers.forEach(function(designer){ var quoteName='"'+designer.name+'"';%>
        <div class="form-group">
          <label><%= designer.name %> <input type="number" min="5" max="500" step="5" onkeypress="return validateNumberInput(event)" class="form-control" name=<%- quoteName %> required></label>
        </div>
        
        <% }); %>
        <button type="submit" id="submitbtn" class="btn btn-success largebtn">Submit priority list</button>
      </form>
      </div>
      <% } %>
    </div>
    <footer class="footer">
     <% include ejs/footer %>
   </footer>
 </body>
 </html>