      <div class="container">
        <div class="row row-centered">
          <div class="col-md-1 col-centered">
            <h3 class="sub-header">Főtámogató</h3>
            <img src="images/sap_logo.png" width="100">
          </div>
          <div class="col-md-1 col-centered">
            <h3 class="sub-header">Aranyfokozatú támogatók</h3>
            <img src="images/logo_ericsson.png" width="80"><br><br>
            <img src="images/logo_epam.png" width="80">
          </div>
          <div class="col-md-1 col-centered">
            <h3 class="sub-header">Ezüstfokozatú támogatók</h3>
            <p><img src="images/logo_misys.png" width="100"></p>
          </div>
          <div class="col-md-1 col-centered">
            <h3 class="sub-header">Partnerek</h3>
            <img src="images/logo_netlife.png" width="90"><br><br>
            <img src="images/logo_vrtech_black.png" width="50"><br><br>
            <img src="images/logo_pcworld_black.png" width="80">
          </div>
          <div class="col-md-1 col-centered">
            <h3 class="sub-header">Szervezők</h3>
            <img src="images/ITK_logo.svg" height="60" alt="PPKE-ITK">&nbsp <img src="images/logo_mome.png" width="80" alt="MOME"><br><br>
            <img src="images/logo_mave.png" width="60" alt="MAVE"><br><br>
            <img src="images/logo_eestec.png" width="60" alt="EESTEC LC Budapest">
          </div>
        </div>
      </div>