.other-color{
  background-color: rgba(247, 209, 49, 0.63);
}
.jumbotron {
        margin-bottom: 0px !important;
}
.other-color-success{
  background-color: rgba(92, 184, 92, 0.75);
}
.allbgcolor{
  background-color:#A4A4A4;
}

/* Wrapper for page content to push down footer */
#wrap {
    padding: 10px;
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}
.footer {
    position: relative;
    clear:both;
	background-color: #f5f5f5;
	min-height: -webkit-calc(100% - 385px);	/* Chrome */
	min-height: -moz-calc(100% - 385px);     /* Firefox */
    min-height: calc(100% - 385px);     /* native */
}

html, body {
    height: 80%;
    margin: 0;
}

.container .text-muted {
  margin: 20px 0;
}

.span4{
    background-color:white;
}

.keret{
    border:dashed 1px rgba(247, 209, 49, 0.63);
}

.userbtn{
    white-space:normal !important;
    max-width:100px;
    min-width:100px;
    max-height:100px;
    min-height:100px;
}

.text-warning {
    color: @warningText;
}

.hidden {
 display:none;
}

.table-hover tbody tr:hover td {
    background: rgba(247, 209, 49, 0.63);
}

.col-md-1 {
width: 18.333333%;
}